* {
  box-sizing: border-box;
}

/* Pierdoły na sam start oznaczające jak ma wyglądać stronka*/
body {
  font-family: Arial, Helvetica, sans-serif;
  background-color: #131313;
  margin: 0;
  color: white;
}

/* Górny pasek */
.nawigacjakurwo {
  overflow: hidden;
  background-color: #301a0b;
  position: sticky;
  position: -webkit-sticky;
}

/* Tekst i obrazek z lewej strony (navbar)
Przypomnienie: Ty kurwo karakanie kutafianie jebany "p" jest przydatne bo oznacza <p> w htmlu nie usuwaj tego nigdy
kurwa cwelu buraku jebany GŁUPI KURWA */
img.left {
  float: left;
}

p.left {
  float: left;
  display: block;
  color: white;
  text-align: left;
  text-decoration: none;
}

/* Górny pasek elementy "a" */
.nawigacjakurwo a {
  float: right;
  display: block;
  color: white;
  text-align: center;
  padding: 15px 20px;
  text-decoration: none;
}


/* Mysz na żółtym przycisku (navbar) */
.y:hover {
  background-color: #f5a811;
}

/* Mysz na czerwonym przycisku (navbar) */
.r:hover {
  background-color: #C01C28;
}

/* Mysz na zielonym przycisku (navbar) */
.g:hover {
  background-color: #2EC27E;
}

.active {
  background-color: black;
}

/* ZDOBEDŻGI GRZIBY MMMMMMMMMMMMMMMMMMMMMM */
.footer {
  padding: 0.1px;
  text-align: center;
  background: darkgreen;
  color: white;
}

/* Baner określa zdjęcie banerowe na samej górze. Centered określa wyśrodkowany tekst dodany na obraz w CSSie */
.baner {
  position: relative;
   text-align: center;
   color: white;
}

h1.text-baner {
  position: absolute;
  color: black;
  font-size: 70px;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -240%);
}

h3.text-baner {
  position: absolute;
  color: white;
  font-size: 20px;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -300%);
}

/* Baner dla strony "download" */
.banerd {
  color: white;
  margin: 20px;
}

img.banerd {
  text-align: left;
  font-size: 30px;
}

h1.text-banerd {
  color: white;
  font-size: 50px;
  /*text-align: right;*/
}

h3.text-banerd {
  color: white;
  font-size: 25px;
   /*text-align: right;*/
}



/* Użyteczne dla każdego elementu w info */
.info {
  margin: 20px;
}

/* Przyciski na samej górze będą układały się pionowo jeśli ekran jest mniejszy niż 500px - zajebane z neta */
@media screen and (max-width: 700px) {
.nawigacjakurwo {
  float: none;
  width: 100%;
}

h1.text-baner {
  position: absolute;
  color: black;
  font-size: 60px;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -180%);
}

h3.text-baner {
  position: absolute;
  color: white;
  font-size: 25px;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -180%);
}

/* Baner dla strony "download" */
.banerd {
  text-align: center;
  color: white;
}

img.banerd {
  text-align: center;
}

h1.text-banerd {
  text-align: center;
  color: white;
  font-size: 50px;
  /*text-align: right;*/
}

h3.text-banerd {
  text-align: center;
  color: white;
  font-size: 25px;
   /*text-align: right;*/
}



   /* Ok bezbeku, czas dopracować wygląd tekstu na stronie. Pierwsze są teksty na samej górze, głównie opis strony, jeszcze niżej miejsce na wylew bezbeku na stronie */
}

/* 2EC27E ziely
   F5C211 f5a811 zolty
   C01C28 czerw
   170707 brons
*/
